<!--
USERS TABLE COLUMNS
userId	userEmail	userPassword	userFirstName	userLastName	userCell	userImgUrl	userAbout	 -->



  <div class="row">
      <form class="col s12 m12 l12" method="post" action="../{{user.userId}}?_method=PUT">


        <div class="row center">


          <div class="input-field col s12 m6 l6">
            <i class="material-icons prefix"></i>
            <input id="userFirstName" name="userFirstName" type="text" class="validate" value="{{#if user.userFirstName}}{{user.userFirstName}}{{/if}}">
            <label for="userFirstName">FIRST NAME</label>
          </div>

          <div class="input-field col s12 m6 l6">
            <i class="material-icons prefix"></i>
            <input id="userLastName" name="userLastName" type="text" class="validate" value="{{#if user.userLastName}}{{user.userLastName}}{{/if}}">
            <label for="userLastName">LAST NAME</label>
          </div>


        </div>


        <div class="row center">


          <div class="input-field col s12 m6 l6">
            <i class="material-icons prefix"></i>
            <input id="userEmail" name="userEmail" type="text" class="validate" value="{{#if user.userEmail}}{{user.userEmail}}{{/if}}">
            <label for="userEmail">USERNAME</label>
          </div>

          <div class="input-field col s12 m6 l6">
            <i class="material-icons prefix"></i>
            <input id="userPassword" name="userPassword" type="password" class="validate" value="{{#if user.userPassword}}{{user.userPassword}}{{/if}}">
            <label for="userPassword">PASSWORD</label>
          </div>


        </div>


        <div class="row center">


          <div class="input-field col s12 m6 l6">
            <i class="material-icons prefix"></i>
            <input id="userCell" name="userCell" type="text" class="validate" value="{{#if user.userCell}}{{user.userCell}}{{/if}}">
            <label for="userCell">CELL PHONE</label>
          </div>

          <div class="file-field input-field col s12 m6 l6">
            <i class="material-icons prefix"></i>
            <div class="btn">
              <span>File</span>
              <input type="file">
            </div>
            <div class="file-path-wrapper">
              <input id="userImgUrl" name="userImgUrl" class="file-path validate" type="text">
              <label for="userImgUrl">PROFILE PIC</label>
            </div>
          </div>


        </div>


        <div class="row center">


          <div class="input-field col s12 m12 l12">
            <i class="material-icons prefix"></i>
            <textarea id="userAbout" name="userAbout" class="materialize-textarea">{{#if user.userAbout}}{{user.userAbout}}{{/if}}</textarea>
            <label for="userAbout">SHORT BIO</label>

            <button type="button" onclick="goBack()" class="waves-effect waves-light btn-large left"><span style="color:white;">CANCEL</span></button>
            <script>
              function goBack() {
                window.history.back();
              }
            </script>
            <button type="submit" name="submit" class="waves-effect waves-light btn-large right">SUBMIT <i class="material-icons right">send</i></button>

          </div>


        </div>


      </form>
    </div>
