
        <h2>Users</h2>
        <div class="table-responsive">
        <table class="table table-condensed table-hover table-bordered table-striped">
          <thead>
            <tr>
              <th>ID</th>
              <th>Email</th>
              <th>Name</th>
              <th>Cell</th>
              <th>Has Shop(s)</th>
              <th>Is Admin</th>
              <th>User Since</th>
              <th>Actions</th>
            </tr>
          </thead>
          <tbody>

<!-- userId	userEmail	userPassword	userFirstName	userLastName	userCell	userImgUrl userLogo	userAbout	user_isSeller	user_isAdmin	userSince -->
            {{#each users}}
            <tr>
              <td>{{this.userId}}</td>
              <td>{{this.userEmail}}</td>
              <td><a href="/users/{{this.userId}}">{{this.userFirstName}} {{this.userLastName}}</a></td>
              <td>{{this.userCell}}</td>
              <td>{{this.user_isSeller}}</td>
              <td>{{this.user_isAdmin}}</td>
              <td>{{this.userSince}}</td>
              <td>
                <div style="float:left;">
                  <form action="/users/{{this.id}}/edit" style="margin:0;padding:0;">
                    <button type="submit" class="btn btn-default btn-sm">
                      <span class="glyphicon glyphicon-pencil"></span> Edit
                    </button>
                  </form>
                </div>
                <div style="float:left;">
                  <form method="post" action="/users/{{this.id}}?_method=DELETE" style="margin:0;padding:0;">
                    <button type="submit" class="btn btn-default btn-sm">
                      <span class="glyphicon glyphicon-trash"></span> Delete
                    </button>
                  </form>
                </div>
              </td>
            </tr>
            {{/each}}

          </tbody>
        </table>
        </div>
